:host {
    --my-black: rgba(0,0,0,0.85);
}
#container {
    width: 70vw;
    padding: 1rem;
    color: var(--my-black);
    font-family: sans-serif;
}
main {
    display: flex;
    align-items: center;
}
#tooltip-icon {
    font-size: 24px;
    border: 1px solid var(--my-black);
    color: var(--my-black);
    margin-left: 16px;
    padding: 8px 16px;
    border-radius: 50%; 
    position: relative;
}
#tooltip {
    font-size: 16px;
    color: var(--my-black);
    border: 1px solid var(--my-black);
    border-radius: 10px;
    width: 300%;
    padding: 8px;
    position: absolute;
    top: 60px;
    right: -16px;
    display: none;
}
:host([visible]) #tooltip {
    display: block;
}